<nav class="navbar navbar-expand navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <!-- <li class="nav-item"><a class="nav-link" routerLinkActive="active" [routerLink]="['/']">Home</a></li> -->
      <li class="nav-item"><a class="nav-link" routerLinkActive="active" [routerLink]="['/start-game']">
        Click to start!
      </a></li>
      <li class="nav-item"><a class="nav-link" routerLinkActive="active" [routerLink]="['/games']"
      >Previous games</a></li>
    </ul>
  </div>
</nav>
<div class="container">
  <router-outlet>
  </router-outlet>
</div>
