/* You can add global styles to this file, and also import other style files */
@font-face {
	font-family: "pcsenior";
	src: url("./assets/fonts/pcsenior.ttf");
}

body {
  font-family: "pcsenior" !important;
  margin: 20px;
  font-size: 1em !important;
}
.headline {
    color: white;
}
